# Association Rule Based Recommendation

In [1]:
import pandas as pd 
from mlxtend.frequent_patterns import apriori, association_rules

pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [2]:
df_ = pd.read_csv("../input/armut-data/armut_data.csv")
df = df_.copy()

In [3]:
df.head()

   UserId  ServiceId  CategoryId           CreateDate
0   25446          4           5  2017-08-06 16:11:00
1   22948         48           5  2017-08-06 16:12:00
2   10618          0           8  2017-08-06 16:13:00
3    7256          9           4  2017-08-06 16:14:00
4   25446         48           5  2017-08-06 16:16:00

In [4]:
df.shape

(162523, 4)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162523 entries, 0 to 162522
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   UserId      162523 non-null  int64
 1   ServiceId   162523 non-null  int64
 2   CategoryId  162523 non-null  int64
 3   CreateDate  162523 non-null  object
dtypes: int64(3), object(1)
memory usage: 5.0+ MB

In [6]:
df.isnull().sum()

UserId        0
ServiceId     0
CategoryId    0
CreateDate    0
dtype: int64

In [7]:
df.describe().T

               count     mean     std  min     25%      50%      75%      max
UserId     162523.00 13089.80 7325.82 0.00 6953.00 13139.00 19396.00 25744.00
ServiceId  162523.00    21.64   13.77 0.00   13.00    18.00    32.00    49.00
CategoryId 162523.00     4.33    3.13 0.00    1.00     4.00     6.00    11.00

ServiceID and CategoryID are combined with "_". Type conversion was performed to perform the combine operation. Thus, a new variable is created to represent the services. The created variable is added to the dataframe.

In [8]:
df["ServiceId"] = df["ServiceId"].astype(str)

df["CategoryId"] = df["CategoryId"].astype(str)

In [9]:
type(df["ServiceId"][0])

str

In [10]:
type(df["CategoryId"][0])

str

In [11]:
df["Service"] = df["ServiceId"] +  "_" + df["CategoryId"]

In [12]:
df.head()

   UserId ServiceId CategoryId           CreateDate Service
0   25446         4          5  2017-08-06 16:11:00     4_5
1   22948        48          5  2017-08-06 16:12:00    48_5
2   10618         0          8  2017-08-06 16:13:00     0_8
3    7256         9          4  2017-08-06 16:14:00     9_4
4   25446        48          5  2017-08-06 16:16:00    48_5

In [13]:
df["Service"].nunique()

50

Dataset consists of the date and time the services are received, there is no basket definition. In order to apply Association Rule Learning, a basket (invoice, etc.) definition must be created. In this study, the services that each customer receives monthly represent the basket. For this reason, baskets need a unique id. 
  
Unique basket ids will be created using month, year and userId.  
  
For this, the CreateDate variable was first edited and converted to the desired format. Then the BasketId variable is created.

In [14]:
df["CreateDate"] = pd.to_datetime(df["CreateDate"])

df["New_Date"] = df["CreateDate"].dt.to_period('M').astype(str)

In [15]:
df.head()

   UserId ServiceId CategoryId          CreateDate Service New_Date
0   25446         4          5 2017-08-06 16:11:00     4_5  2017-08
1   22948        48          5 2017-08-06 16:12:00    48_5  2017-08
2   10618         0          8 2017-08-06 16:13:00     0_8  2017-08
3    7256         9          4 2017-08-06 16:14:00     9_4  2017-08
4   25446        48          5 2017-08-06 16:16:00    48_5  2017-08

In [16]:
df["BasketId"] = df["UserId"].astype(str) + "_" + df["New_Date"]

In [17]:
df.head()

   UserId ServiceId CategoryId          CreateDate Service New_Date       BasketId
0   25446         4          5 2017-08-06 16:11:00     4_5  2017-08  25446_2017-08
1   22948        48          5 2017-08-06 16:12:00    48_5  2017-08  22948_2017-08
2   10618         0          8 2017-08-06 16:13:00     0_8  2017-08  10618_2017-08
3    7256         9          4 2017-08-06 16:14:00     9_4  2017-08   7256_2017-08
4   25446        48          5 2017-08-06 16:16:00    48_5  2017-08  25446_2017-08

In this step, a pivot table will be created. Rows will contain unique basket ids, columns will contain services, and values will contain information whether the service has been received or not.  
  
This will be done step by step.

In [18]:
df.groupby(["BasketId", "Service"])["Service"].count()

BasketId    Service
0_2017-08   46_4       1
            48_5       1
0_2017-09   48_5       1
            4_5        1
0_2018-01   30_2       1
                      ..
99_2018-01  20_5       1
99_2018-02  0_8        1
9_2018-03   25_0       1
9_2018-04   19_6       1
            25_0       1
Name: Service, Length: 121348, dtype: int64

The unstack() method will be used to get the pivot table.

In [19]:
df.groupby(["BasketId", "Service"])["Service"].count().unstack().head()

Service        0_8  10_9  11_11  12_7  13_11  14_7  15_1  16_8  17_5  18_4  19_6  1_4  20_5  21_5  22_0  23_10  24_10  25_0  26_7  27_7  28_4  29_0  2_0  30_2  31_6  32_4  33_4  34_6  35_11  36_1  37_0  38_4  39_10  3_5  40_8  41_3  42_1  43_2  44_0  45_6  46_4  47_7  48_5  49_1  4_5  5_11  6_7  7_3  8_5  9_4
BasketId
0_2017-08      NaN   NaN    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN  NaN   NaN   NaN   NaN    NaN    NaN   NaN   NaN   NaN   NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN    NaN   NaN   NaN   NaN    NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN  1.00   NaN  1.00   NaN  NaN   NaN  NaN  NaN  NaN  NaN
0_2017-09      NaN   NaN    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN  NaN   NaN   NaN   NaN    NaN    NaN   NaN   NaN   NaN   NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN    NaN   NaN   NaN   NaN    NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  1.00   NaN 1.00   NaN  NaN  NaN  NaN  NaN
0_2018-01      NaN   NaN    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN  NaN   NaN   NaN   NaN    NaN    NaN   NaN   NaN   NaN   NaN   NaN  NaN  1.00   NaN   NaN   NaN   NaN    NaN   NaN   NaN   NaN    NaN  NaN   NaN   NaN   NaN  1.00   NaN   NaN   NaN   NaN   NaN   NaN  NaN   NaN  NaN 1.00  NaN  NaN
0_2018-04      NaN   NaN    NaN   NaN    NaN  1.00   NaN   NaN   NaN   NaN   NaN  NaN   NaN   NaN   NaN    NaN    NaN   NaN   NaN   NaN   NaN   NaN  NaN  1.00   NaN   NaN   NaN   NaN    NaN   NaN   NaN   NaN    NaN  NaN   NaN   NaN   NaN  1.00   NaN   NaN   NaN   NaN   NaN   NaN  NaN   NaN  NaN  NaN  NaN  NaN
10000_2017-08  NaN   NaN    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN  NaN   NaN   NaN   NaN    NaN    NaN   NaN   NaN   NaN   NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN    NaN   NaN   NaN   NaN    NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN  1.00   NaN   NaN   NaN  NaN   NaN  NaN  NaN  NaN  NaN

NaN values are set to 0.

In [20]:
df.groupby(["BasketId", "Service"])["Service"].count().unstack().fillna(0).head()

Service        0_8  10_9  11_11  12_7  13_11  14_7  15_1  16_8  17_5  18_4  19_6  1_4  20_5  21_5  22_0  23_10  24_10  25_0  26_7  27_7  28_4  29_0  2_0  30_2  31_6  32_4  33_4  34_6  35_11  36_1  37_0  38_4  39_10  3_5  40_8  41_3  42_1  43_2  44_0  45_6  46_4  47_7  48_5  49_1  4_5  5_11  6_7  7_3  8_5  9_4
BasketId
0_2017-08     0.00  0.00   0.00  0.00   0.00  0.00  0.00  0.00  0.00  0.00  0.00 0.00  0.00  0.00  0.00   0.00   0.00  0.00  0.00  0.00  0.00  0.00 0.00  0.00  0.00  0.00  0.00  0.00   0.00  0.00  0.00  0.00   0.00 0.00  0.00  0.00  0.00  0.00  0.00  0.00  1.00  0.00  1.00  0.00 0.00  0.00 0.00 0.00 0.00 0.00
0_2017-09     0.00  0.00   0.00  0.00   0.00  0.00  0.00  0.00  0.00  0.00  0.00 0.00  0.00  0.00  0.00   0.00   0.00  0.00  0.00  0.00  0.00  0.00 0.00  0.00  0.00  0.00  0.00  0.00   0.00  0.00  0.00  0.00   0.00 0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00  1.00  0.00 1.00  0.00 0.00 0.00 0.00 0.00
0_2018-01     0.00  0.00   0.00  0.00   0.00  0.00  0.00  0.00  0.00  0.00  0.00 0.00  0.00  0.00  0.00   0.00   0.00  0.00  0.00  0.00  0.00  0.00 0.00  1.00  0.00  0.00  0.00  0.00   0.00  0.00  0.00  0.00   0.00 0.00  0.00  0.00  0.00  1.00  0.00  0.00  0.00  0.00  0.00  0.00 0.00  0.00 0.00 1.00 0.00 0.00
0_2018-04     0.00  0.00   0.00  0.00   0.00  1.00  0.00  0.00  0.00  0.00  0.00 0.00  0.00  0.00  0.00   0.00   0.00  0.00  0.00  0.00  0.00  0.00 0.00  1.00  0.00  0.00  0.00  0.00   0.00  0.00  0.00  0.00   0.00 0.00  0.00  0.00  0.00  1.00  0.00  0.00  0.00  0.00  0.00  0.00 0.00  0.00 0.00 0.00 0.00 0.00
10000_2017-08 0.00  0.00   0.00  0.00   0.00  0.00  0.00  0.00  0.00  0.00  0.00 0.00  0.00  0.00  0.00   0.00   0.00  0.00  0.00  0.00  0.00  0.00 0.00  0.00  0.00  0.00  0.00  0.00   0.00  0.00  0.00  0.00   0.00 0.00  0.00  0.00  0.00  0.00  0.00  0.00  1.00  0.00  0.00  0.00 0.00  0.00 0.00 0.00 0.00 0.00

Values are expressed with bool type because presence-absence control is made. Finally, all operations are recorded in the pvt_table variable.

In [21]:
df_pvt = df.groupby(["BasketId", "Service"])["Service"].count(). \
unstack(). \
fillna(0). \
applymap(lambda x : bool(x))

In [22]:
df_pvt.head()

Service          0_8   10_9  11_11   12_7  13_11   14_7   15_1   16_8   17_5   18_4   19_6    1_4   20_5   21_5   22_0  23_10  24_10   25_0   26_7   27_7   28_4   29_0    2_0   30_2   31_6   32_4   33_4   34_6  35_11   36_1   37_0   38_4  39_10    3_5   40_8   41_3   42_1   43_2   44_0   45_6   46_4   47_7   48_5   49_1    4_5   5_11    6_7    7_3    8_5    9_4
BasketId
0_2017-08      False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False   True  False   True  False  False  False  False  False  False  False
0_2017-09      False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False   True  False   True  False  False  False  False  False
0_2018-01      False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False   True  False  False  False  False  False  False  False  False  False  False  False  False  False   True  False  False  False  False  False  False  False  False  False   True  False  False
0_2018-04      False  False  False  False  False   True  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False   True  False  False  False  False  False  False  False  False  False  False  False  False  False   True  False  False  False  False  False  False  False  False  False  False  False  False
10000_2017-08  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False  False   True  False  False  False  False  False  False  False  False  False

In this step, association rules will be created. For this, the apriori algorithm will be used. As a result, support values will be found.

In [23]:
frequent_itemsets = apriori(df_pvt,
                            min_support=0.01,
                            use_colnames=True)

In [24]:
frequent_itemsets.sort_values("support",ascending=False)

    support      itemsets
8      0.24        (18_4)
19     0.13         (2_0)
5      0.12        (15_1)
39     0.07        (49_1)
28     0.07        (38_4)
3      0.06       (13_11)
12     0.05        (22_0)
9      0.05        (19_6)
15     0.04        (25_0)
7      0.04        (17_5)
45     0.04         (9_4)
42     0.04         (6_7)
38     0.04        (48_5)
41     0.04        (5_11)
40     0.04         (4_5)
47     0.03   (2_0, 15_1)
2      0.03        (12_7)
37     0.03        (47_7)
13     0.03       (23_10)
16     0.03        (26_7)
23     0.03        (33_4)
18     0.03        (29_0)
1      0.03       (11_11)
22     0.03        (32_4)
14     0.02       (24_10)
4      0.02        (14_7)
30     0.02         (3_5)
11     0.02        (20_5)
21     0.02        (31_6)
36     0.02        (46_4)
25     0.02       (35_11)
0      0.02         (0_8)
10     0.02         (1_4)
24     0.02        (34_6)
27     0.02        (37_0)
17     0.02        (27_7)
29     0.02       (39_10)
52     0.02   (22_0, 2_0)
31     0.02        (40_8)
33     0.02        (43_2)
32     0.02        (41_3)
43     0.02         (7_3)
6      0.01        (16_8)
34     0.01        (44_0)
53     0.01   (2_0, 25_0)
46     0.01  (13_11, 2_0)
35     0.01        (45_6)
26     0.01        (36_1)
44     0.01         (8_5)
48     0.01  (15_1, 33_4)
54     0.01   (38_4, 2_0)
49     0.01  (38_4, 15_1)
51     0.01  (22_0, 25_0)
20     0.01        (30_2)
55     0.01   (38_4, 9_4)
50     0.01  (49_1, 15_1)

Other metrics were obtained by using the association_rules function.

In [25]:
rules = association_rules(frequent_itemsets,
                          metric="support",
                          min_threshold = 0.01)

In [26]:
sorted_rules = rules.sort_values("lift", ascending=False)

In [27]:
sorted_rules.head()

   antecedents consequents  antecedent support  consequent support  support  confidence  lift  leverage  conviction
10      (22_0)      (25_0)                0.05                0.04     0.01        0.23  5.46      0.01        1.25
11      (25_0)      (22_0)                0.04                0.05     0.01        0.26  5.46      0.01        1.29
18      (38_4)       (9_4)                0.07                0.04     0.01        0.15  3.65      0.01        1.13
19       (9_4)      (38_4)                0.04                0.07     0.01        0.24  3.65      0.01        1.23
4       (15_1)      (33_4)                0.12                0.03     0.01        0.09  3.40      0.01        1.07

The arl_recommender function was created and a recommendation was made to a user who received the 2_0 service.

In [28]:
def arl_recommender(rules_df, product_id, rec_count=1):
    sorted_rules = rules_df.sort_values("lift", ascending=False)
    recommendation_list = []
    for i, product in enumerate(sorted_rules["antecedents"]):
        for j in list(product):
            if j == product_id:
                recommendation_list.append(list(sorted_rules.iloc[i]["consequents"])[0])

    return recommendation_list[0:rec_count]

In [29]:
arl_recommender(rules, "2_0", 3)

['22_0', '25_0', '15_1']